name: Update Readmes and Pull Repo Updates

on:
  schedule:
    - cron: '0 */1 * * *' # Runs every 1 hour
  workflow_dispatch:

jobs:
  combined-job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytz

    - name: Run pull_raw_files script
      run: python repo_raw_data/pull_raw_files.py

    - name: Commit and push raw file changes
      env:
        TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        if [ -n "$(git status --porcelain)" ]; then
          git add .
          git commit -m 'Automated update of raw files'
          git push https://${{ github.repository_owner }}:$TOKEN@github.com/${{ github.repository }}.git main
        else
          echo "No raw file changes detected, skipping commit."
        fi

    - name: Run update scripts
      run: |
        python update_readme_scripts/update_safari_versions.py
        python update_readme_scripts/update_firefox_versions.py
        python update_readme_scripts/update_edge_versions.py
        python update_readme_scripts/update_chrome_versions.py

    - name: Commit and push README changes
      env:
        TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        if [ -n "$(git status --porcelain)" ]; then
          git add docs/*
          git commit -m 'Automated update of README files'
          git push https://${{ github.repository_owner }}:$TOKEN@github.com/${{ github.repository }}.git main
        else
          echo "No README changes detected, skipping commit."
        fi
